@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #020617;
    /* Slate 950 */
    color: #f8fafc;
}

@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}