@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
}
